html, body {
    height: 100dvh;
    width: 100dvw;
    margin: 0;
    cursor: url("Art/litterPicker.png"), auto;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.grabbing {
    cursor: url("Art/litterPicked.png"), grabbing;
}

#map {
    height: 100%;
    width: 37.5%;
    cursor: url("Art/litterPicker.png"), crosshair;
    position: fixed;
    right: 0;
    border-radius: 1%;
}

.leaflet-control-attribution {
  display: none !important;
}

.mapIcon {
    cursor: url("Art/litterPicked.png"), grabbing;
}